$tab-inactive-color: #999;
$tab-active-color: white;
$padding: 14px;

.tabs {
  margin: var(--dev-tools-container-spacing);
  padding: 10px;
  padding-top: 0;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.headers {
  position: relative;
  padding: $padding;
  padding-top: $padding + 5px;
  border-bottom: 1px solid #888;
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 20px;
  user-select: none;

  [class='tab'] {
    cursor: pointer;
    color: $tab-inactive-color;
    &:hover {
      color: $tab-active-color;
    }
  }

  [data-active='true'] {
    color: $tab-active-color;
  }
}

.body {
  position: relative;
  padding-top: 10px;
  padding: $padding;
  margin-right: -10px;
  flex: 1;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #222;
  }

  &::-webkit-scrollbar-thumb {
    background: #555;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
